<nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
        <a class="navbar-brand" routerLink="/home">WeatherApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>                
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/crop">Crop <span class="sr-only">(current)</span></a>
                  </li>
          </ul>

          <div routerLink="/login" *ngIf="!loginService.isUserLoggedIn()" class="btn btn-primary login-btn">login</div>
          <div *ngIf="loginService.isUserLoggedIn()" class="username">{{this.getUsername()}}</div>
          <button *ngIf="loginService.isUserLoggedIn()" class="btn btn-primary ">
            <a routerLink="/logout" class="navbarListLogout">LogOut</a>
          </button>
        </div>
</nav>